:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#app {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 24px;
  gap: 24px;
}

body {
  overflow: hidden;
  scrollbar-width: none;
  width: 100%;
  height: 100vh;
  margin: 4px 0px;}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#settings, #details {
  padding: 10px 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

#details {
  gap: 20px;
  height: 75vh;
  overflow: scroll;
  scrollbar-width: none;
}

#settings > *, #details > * {
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 8px;
}

#font {
  text-align: center;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.input-header {
  font-weight: bold;
  margin: 0;
}

.input-label {
  font-weight: 300;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.field-wrapper > * {
  margin: 4px 0px;
}

.field-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#preview {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  width: 57.96vh;
  height: 75vh;
  padding: 3.41vh;
  overflow: scroll;
  scrollbar-width: none;
  flex: 0 0 auto;
}

#preview p {
  margin: 0;
  width: 100%;
}

.preview-box {
  margin-bottom: 0.25vh;
}

#general-details {
  border-bottom: 1px solid black;
}

#general-header {
  font-size: 2.75vh;
}

#general-contact {
  font-size: 1.85vh;
}

.bold {
  font-weight: bold;
}

.sub-header {
  font-size: 1.75vh;
  font-weight: bold;
  border-bottom: 0.5px solid black;
}

.split-detail {
  display: flex;
  justify-content: space-between;
  font-size: 1.55vh;
  margin-left: 0.5vw;
}

.job-description {
  font-size: 1.45vh;
  margin-left: 1.5vw !important;
}

.italic {
  font-style: italic;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button.remove-button {
  text-align: right
}

header {
  text-align: center;
  margin-top: 12px;
  font-size: xx-large;
  font-weight: bold;
}

footer {
  color: white;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-bottom: 16px;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.github-link {
  width: 1rem;
  margin-left: 5px;
}

a {
  text-decoration: none;
  color: white;
  text-align: center;
  display: grid;
}

@media screen and (max-width: 1100px) {
  body {
    overflow: auto;
  }

  #app {
    flex-direction: column;
  }
}